
/* --- Element Selectors --- */
h1 {
    text-align: center;
}

ul, li {
    list-style-type: none;
}



/* --- Class Selectors --- */

.option {
    background-color: blue;
    color: white;
    padding: 5px;
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
    width: 300px;
}

.menu {
    border: magenta solid 5px;
}

/* ID Selectors */




/* --- Pseudo-class Selectors ---  */

.option:hover {
    opacity: 0.4;
}