
/* --- Element Selectors --- */
h1 {
    text-align: center;
}

ul, li {
    list-style-type: none;
}



/* --- Class Selectors --- */

.nav-bar {
    display:flex;
    justify-content: space-between;
}

.option {
    background-color: blue;
    color: white;
    padding: 5px;
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
    width: 300px;
}

.menu {
    border: black solid 2px;
    border-radius: 5px;
    padding: 5px;
}

/* ID Selectors */

#high-scores-div {
    display: none;
}


/* --- Pseudo-class Selectors ---  */

.option:hover {
    opacity: 0.4;
}